CONFIG_HOME_WIFI_SSID="my-network"
CONFIG_HOME_WIFI_PASSWORD=""
CONFIG_HOME_WEATHER_LAT="52.2297"
CONFIG_HOME_WEATHER_LON="21.0122"
CONFIG_HOME_WEATHER_CITY="Warsaw"
CONFIG_HOME_HA_HOST="192.168.1.50:8123"
CONFIG_HOME_HA_TOKEN=""
CONFIG_HOME_SCREENSAVER_IDLE_S=60
CONFIG_HOME_SCREENSAVER_OFF_S=300
